.mostrar-produtos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 200px;
}

.card img {
    width: 100%;
    border-radius: 8px;
}